*{
    margin: 0;
    padding: 0;
    font-family: "Gilroy";
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
@media (max-width:1300px) {
#main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgb(193, 235, 193);
}
}
#panel{
    overflow: hidden;
    width: 80%;
    height: 90%;
    border-radius: 10px;
    background-color: #fff;
}   
#ptop{
    padding: 0% 7%;
    justify-content: space-between;
    display: flex;
   align-items: center;
    color: #fff;
    width: 100%;
    height: 15%;
    background-color: rgb(72, 104, 72);
}
.elem{
    /* background: #000; */
  
    display: flex;
    align-items: center;
    gap: 10px;
}
.elem h2{
    font-weight: 500;
    font-size: 17px;
}
.box{
    color:rgb(37, 197, 37);
    margin-right: 10px;
    font-weight: 700;
    font-size: 20px;
    padding: 10px 15px;
    background-color: #fff;
    border-radius: 5px;
}
#pbtm{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    padding: 10px;
    width: 100%;
    height: 85%;
    
    background-color:#DBE4E9;
}
.bubble{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background:#2A735C;
    border-radius: 50%;
    color: #f5eeee;
}
.bubble:hover{
    cursor: pointer;
    background: rgb(11, 232, 151);
}
#endg{
    font-size: 60px;
    color: rgb(255, 62, 62);
    font-weight: 700;
}
#reset{
    background-color: rebeccapurple;
    width: 20px;
    height: 10px;
}
@media screen and (max-width: 320px) {
    #pbtm{
        overflow: scroll;
    }
    #ptop{
        /* padding: 0% 0%;
        justify-content: space-between; */
        display: flex;
       align-items: center;
        color: #fff;
        width: 100%;
        height: 15%;
        background-color: rgb(72, 104, 72);
    }
    .elem{
        /* background: #000; */
      
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .elem h2{
        font-weight: 500;
        font-size: 12px;
    }
    .box{
        color:rgb(37, 197, 37);
        margin-right: 5px;
        font-weight: 500;
        font-size: 16px;
        padding: 10px 8px;
        background-color: #fff;
        border-radius: 3px;
    }
    .bubble{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        background:#2A735C;
        border-radius: 50%;
        color: #f5eeee;
    }
}
@media screen and (max-width: 426px) {
    #pbtm{
        overflow: scroll;
    }
    #ptop{
        /* padding: 0% 0%;
        justify-content: space-between; */
        display: flex;
       align-items: center;
        color: #fff;
        width: 100%;
        height: 15%;
        background-color: rgb(72, 104, 72);
    }
    .elem{
        /* background: #000; */
      
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .elem h2{
        font-weight: 500;
        font-size: 12px;
    }
    .box{
        color:rgb(37, 197, 37);
        margin-right: 5px;
        font-weight: 500;
        font-size: 16px;
        padding: 10px 8px;
        background-color: #fff;
        border-radius: 3px;
    }
    .bubble{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        background:#2A735C;
        border-radius: 50%;
        color: #f5eeee;
    }
}
